h3
{
color:darkgreen;
font-family:algerian;
position:absolute;
right:130px;
top:300px;
}
aside p
{
text-align:center;
background-color:darkgreen;
color:white;
font-size:15px;
}
details
{
color:darkgreen;
font-family:algerian;
font-size:15px;
}
h1
{
color:darkgreen;
font-family:algerian;
font-size:20px;
position:absolute;
top:0px;
right:50px;
}
article p
{
color:black;
font-size:15px;
font-family:arial;
width:550px;
}
h5
{
font-family:arial;
color:black;
font-size:16px;
float:right;
}
details ul
{
color:#D51165;
font-size:15px;
}
h4
{
color:darkgreen;
font-family:algerian;
}
video
{
position:absolute;
right:50px;
top:340px;
}
#mainDivContainer h4
{
color:darkgreen;
font-size:24px;
}
.auto-style1
{
color:black;
font-style:italic;
}
#callus
{
height:80px;
width:50px;
float:right;
}
nav a:hover
{
color:pink;
}
nav a
{
text-decoration:none;
color:white;
}
@-webkit-keyframes multicolor
{
0%{color:darkgreen;}
40%{color:hotpink;}
60%{color:darkgreen;}
80%{color:hotpink;}
}
.auto-style2
{
font-size:40px;
-webkit-animation:multicolor 5s infinite;
}


